<!DOCTYPE HTML>
<html>
	<head>
		<title>Businex Website Template | Home :: W3layouts</title>
		<link href="__PUBLIC__/Static/new_template/css/style.css" rel="stylesheet" type="text/css"  media="all" />
		<link href="__PUBLIC__/Static/new_template/css/jquery.bxslider.css" rel="stylesheet" type="text/css"  media="all" />
		<link href="__PUBLIC__/Static/new_template/css/hb_pc.css" rel="stylesheet" type="text/css"  media="all" />
		  <script src="__PUBLIC__/Static/new_template/js/jquery-1.10.2.min.js"></script>
		  <script src="__PUBLIC__/Static/new_template/js/jquery.bxslider.min.js"></script>
	</head>
	<body>
	
	
		
		<!----start-wrap---->
		<div class="wrap">
			<!---start-header---->
			<div class="top-links" id="top">
					<div class="contact-info">
						Contact us: <span class="contact-info1">0123 456 789</span>
					</div>
					<div class="social-icons">
		                <ul>
		                    <li><a class="facebook" href="#" target="_blank"> </a></li>
		                    <li><a class="twitter" href="#" target="_blank"></a></li>
		                    <li><a class="googleplus" href="#" target="_blank"></a></li>
		                    <li><a class="pinterest" href="#" target="_blank"></a></li>
		                    <li><a class="dribbble" href="#" target="_blank"></a></li>
		                    <li><a class="vimeo" href="#" target="_blank"></a></li>
		                </ul>
					</div>
					<div class="clear"> </div>
				</div>
			</div>
			<div class="header">
				<div class="wrap">
				<div class="logo">
					<a href="index.html"><img src="__PUBLIC__/Static/new_template/images/logo.png" title="logo" /></a>
				</div>
				<div class="top-nav">
					<ul>
						<li class="active"><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="services.html">Services</a></li>
						<li><a href="portfolio.html">Portfolio</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="contact.html">Contact</a></li>
						<div class="clear"> </div>
					</ul>
				</div>
				<div class="clear"> </div>
			</div>
			<!---End-header---->
		</div>
