<!--icheck-->
<link href="__PUBLIC__/Static/Admin/js/iCheck/skins/flat/green.css" rel="stylesheet">
<!--body wrapper start-->
<div class="wrapper">
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                	设置用户组权限
            </header>
				<div class="panel-body">
					<div class="row">
						<form class="form-horizontal bucket-form" method="post" action="{:U('AuthGroup/setRule')}">
						<volist name="authRuleList" id="rulelist">
							<div class="col-md-6">
								<div class="form-group">
									<label class="col-sm-3 control-label">{$rulelist.title}</label>
									<div class="col-sm-9 icheck ">
										<volist name="rulelist.child" id="child">
										<div class="flat-green single-row">
											<div class="radio ">
												<input type="checkbox" name="rules[]" value="{$child.id}" <eq name="child.is_rule" value="1"> checked</eq>> 
												<label>{$child.title} </label>
											</div>
										</div>
										</volist>
									</div>
								</div>
								
							</div>
							</volist>
							<div class="form-group">
								<div class="col-lg-offset-2 col-lg-10">
									<input type="hidden" name="id" value="{$Think.get.id}" />
									<input type="hidden" name="submit" value="submit" />
									<button class="btn btn-primary" type="submit">保存</button>
								</div>
							</div>
						</form>
					</div>
				</div>
        </section>
    </div>
</div>
</div>
<!--body wrapper end-->