<!--file upload-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Static/Admin/css/bootstrap-fileupload.min.css" />
<!--body wrapper start-->
<div class="wrapper">
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
            	修改导航
            </header>
            <div class="panel-body">
                <div class="form">
                    <form class="cmxform form-horizontal adminex-form" id="signupForm" enctype="multipart/form-data" method="post" action="{:U('MenuWeb/edit')}">
                       <div class="form-group ">
                            <label for="firstname" class="control-label col-lg-2">导航类型</label>
                            <div class="col-lg-10">
                                <select class="form-control m-bot15" name="tid">
                                <option value="1" <eq name="info.tid" value="1"> selected="selected"</eq>>顶部</option>
                                <option value="2" <eq name="info.tid" value="2"> selected="selected"</eq>>底部</option>
                            	</select>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="name" class="control-label col-lg-2">名称</label>
                            <div class="col-lg-10">
                                <input class="form-control " value="{$info.name}" id="name" name="name" type="text" />
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="name" class="control-label col-lg-2">链接</label>
                            <div class="col-lg-10">
                                <input class="form-control " value="{$info.url}" id="url" name="url" type="text" />
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="firstname" class="control-label col-lg-2">状态</label>
                            <div class="col-lg-10">
                                <select class="form-control m-bot15" name="status">
                                <option value="1" <eq name="info.status" value="1"> selected="selected" </eq>>可用</option>
                                <option value="2" <eq name="info.status" value="2"> selected="selected" </eq>>不可用</option>
                            	</select>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="author" class="control-label col-lg-2">排序</label>
                            <div class="col-lg-10">
                                <input class="form-control " value="{$info.sort}" id="sort" name="sort" type="text" />
                            </div>
                        </div>
						<div class="form-group">
                           <div class="col-lg-offset-2 col-lg-10">
                            <input type="hidden" name="id" value="{$info.id}" />
                            <input type="hidden" name="submit" value="submit" />
                            <button class="btn btn-primary" type="submit">保存</button>
                           </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
</div>
<!--body wrapper end-->
<!--file upload-->
<script type="text/javascript" src="__PUBLIC__/Static/Admin/js/bootstrap-fileupload.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Static/Admin/js/ckeditor/ckeditor.js"></script>
<script>
	var uplodUrl = "{:U(\'News/ckeditorUplod\')}";
	CKEDITOR.replace( 'content', {
		filebrowserImageUploadUrl: uplodUrl,
		image_previewText: '',
		height:"500"
	});
</script>