        <!--body wrapper start-->
        <div class="wrapper">
        <div class="row">
        <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                	导航列表
                        <span class="tools pull-right">
                        	<a href="{:U('MenuWeb/add')}" class="fa">添加导航</a>
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <!-- <a href="javascript:;" class="fa fa-times"></a> -->
                         </span>
            </header>
            <div class="panel-body">
                <section id="unseen">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>名称</th>
                            <th>导航类型</th>
                            <th>链接</th>
                            <th>状态</th>
                            <th>排序</th>
                            <th class="numeric">创建时间</th>
                            <th class="numeric">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="list" id="vo">
                        <tr>
                            <td>{$vo.id}</td>
                            <td>{$vo.name}</td>
                            <td><eq name="vo.tid" value="1">顶部</eq><eq name="vo.tid" value="2">底部</eq></td>
                            <td>{$vo.url}</td>
                            <td><eq name="vo.status" value="1">可用<else/>不可用</eq></td>
                            <td>{$vo.sort}</td>
                            <td class="numeric"><empty name="vo.createtime" ><else/>{$vo.createtime|date="Y-m-d H:i:s",###}</empty></td>
                            <td class="numeric">
                            	<a href="{:U('MenuWeb/edit',array('id'=>$vo['id']))}" class="edit">修改</a> | 
                            	<eq name="vo.status" value="1">
                            	<a href="{:U('MenuWeb/editStatus',array('id'=>$vo['id'],'status'=>2))}" class="edit">标识为不可用</a>
                            	</eq>
                            	<eq name="vo.status" value="2">
                            	<a href="{:U('MenuWeb/editStatus',array('id'=>$vo['id'],'status'=>1))}" class="edit">标识为可用</a>
                            	</eq>
                            	
                            </td>
                        </tr>
                        </volist>
                        </tbody>
                    </table>
                	<div>
                    	<ul class="pagination">
                            {$page}
                        </ul>
                    </div>
                </section>
            </div>
        </section>
        
        </div>
        </div>
        </div>
        <!--body wrapper end-->
