        <!--body wrapper start-->
        <div class="wrapper">
        <div class="row">
        <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                	广告列表
                        <span class="tools pull-right">
                        	<a href="{:U('Advertisement/adAdd')}" class="fa">添加广告</a>
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <!-- <a href="javascript:;" class="fa fa-times"></a> -->
                         </span>
            </header>
            <div class="panel-body">
                <section id="unseen">
                    <table class="table table-bordered table-striped table-condensed">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>广告名称</th>
                            <th>广告位</th>
                            <th>链接地址</th>
                            <th>图片</th>
                            <th>开始显示时间</th>
                            <th>结束显示时间</th>
                            <th>排序</th>
                            <th>是否显示</th>
                            <th>创建时间</th>
                            <th class="numeric">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="list" id="vo">
                        <tr>
                            <td>{$vo.id}</td>
                            <td>{$vo.name}</td>
                            <td>{$vo.location_name}</td>
                            <td>{$vo.url}</td>
                            <td><img src="{$vo.img}" width="40" height="40"/></td>
                            <td><eq name="vo.begin_time" value=""><else/>{$vo.begin_time|date="Y-m-d",###}</eq></</td>
                            <td><eq name="vo.end_time" value="">不限结束时间<else/>{$vo.end_time|date="Y-m-d",###}</eq></</td>
                            <td>{$vo.sort}</td>
                            <td><eq name="vo.is_show" value="1">显示<else/>不显示</eq></td>
                            <td><eq name="vo.createtime" value="0"><else/>{$vo.createtime|date="Y-m-d H:i:s",###}</eq></</td>
                            <td class="numeric"><a href="{:U('Advertisement/adEdit',array('id'=>$vo['id']))}" class="edit">修改</a></td>
                        </tr>
                        </volist>
                        </tbody>
                    </table>
                	<div>
                    	<ul class="pagination">
                            {$page}
                        </ul>
                    </div>
                </section>
            </div>
        </section>
        
        </div>
        </div>
        </div>
        <!--body wrapper end-->
